body{
  font-family: Tahoma;
  background-color: #0E6A75;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header{
  background: #22C1D4;
}
ul{
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
}
.redes{
  padding-left: 1px !important;
  margin-left: 1px !important;
  padding-top: 70px !important;
}
.logo{
  width: 40%;
}
.navegacion{
  background: #018A9A;
  margin-top: 0px;
  padding: 0px;
}
.barra_navega{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
.navegacion a{
  color: white;
  text-decoration: none;
}
.barra_navega:hover{
  background: #05D4ED;
}
#contenido{
    background: white;

}
#post{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post_1{
    margin: 5px;
}
article{
    font-size: 12px;
}
#comentarios{
    margin-top: 5px;
}
#sidebar{
    margin-top: 20px;
}
footer{
    background: #22C1D4;
    padding: 10px;
}
footer small{
    color:white;

}
